body {
	background-image: url('assets/images/concrete-texture.png');
	background-color: grey;
	width: 960px;
	margin:;
	padding:;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: ;
	line-height: ;
}

header {

}

h1 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;

}

nav {
	
}

aside {
	width: 270px;
}