body {
	background-image: url('assets/images/concrete-texture.png');
	background-color: grey;
	width: 960px;
	margin:;
	padding:;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: ;
	line-height: ;
}

header {
	background-color: #4aaaa5;
	width: 180px;
	height: 70px;
	margin-top: 20px;
	font-size: 24px;
	text-align: center;
	float: left;
}

h1 {
	clear: both;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

section {
	background-color: white;
	width: 800px;
	height: 600px;
}
nav {
	background-color: white;
	
	
}

.connect {
	width: 270px;
	background-color: white;
}